{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/select2.css') }}">
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_start(form.price) }}
    {{ form_start(form.matieres) }}
    {{ form_end(form) }}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Matières</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>



            <th scope="row">{{ product.id }}</th>
            <td>{{ product.title }}</td>
            <td>{{ product.price  }} €</td>
            <td>
                <ul>
                    {% for matiere in product.matieres %}
                        <li>{{ matiere.name }}</li>
                    {% endfor %}
                </ul>

            </td>
            <td><a href="{{ path('edit', {'id': product.id}) }}" class="btn btn-danger">
                    modifier
                </a><a href="{{ path('deleteProduct', {'id': product.id}) }}" class="btn btn-danger">
                    supprimer
                </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{{ asset('js/jquery.min.js') }}" ></script>
    <script src="{{ asset('js/select2.js') }}" ></script>
    <script>
        $(document).ready(function(){
            $('.select2').select2();
        });
    </script>
{% endblock %}


